<group name="{{ [product, service, 'custom_sigma'] | select | join(', ') }}">
  <rule id="{{ wazuh_id }}" level="{{ wazuh_level }}">
    <!-- sigma_uuid:{{ rule_id }} -->
    <if_group>{{ parent_group }}</if_group>
    {% for field, value in fields.items() %}
    <field name="{{ field }}" type="pcre2"{% if value.negate %} negate="yes"{% endif %}>{{ value.pattern }}</field>
    {% endfor %}
    <description>{{ title }}</description>
    {% if tags %}
    <mitre>
      {% for tag in tags %}
      <id>{{ tag }}</id>
      {% endfor %}
    </mitre>
    {% endif %}
  </rule>
</group>
